:root {
    --font-family: "Roboto";
    --second-family: "Raleway";
    --brand-color: #ffffff;
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}

body {
    font-family: var(--font-family), sans-serif;
    color: var(--slate);
    background-color: var(--brand-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, nav, a {
    color: var(--navy-blue);
}

nav, a:hover {
    color: var(--ocean);
}

.logo {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
}

.logo {
    font-family: var(--second-family), sans-serif;
    line-height: 1.17;
    text-transform: uppercase;
    color: var(--iris);
}

header .logo > span {
    color: var(--navy-blue);
}

footer .logo > span {
    color: var(--cloud);
}

header > nav {
    font-weight: 500;
}

.menu {
    color: var(--slate);
}

.menu:active {
    text-decoration: underline;
    text-decoration-color: var(--ocean);
}

.menu:focus .menu:hover {
    color: var(--ocean);
}

.info {
    font-style: normal
}

.solution {
    background-color: var(--navy-blue);
}

.solution-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: inherit;
    text-align: center;
    color: var(--white);
}

.order-service {
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: inherit;
    cursor: pointer;
    background: var(--iris);
    color: var(--white);
}

.order-service:focus {
    background: var(--ocean);
}

.title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: inherit;
    text-transform: capitalize;
}

.tit {
    background-color: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: inherit;
}

.team {
    background-color: var(--cloud);
    justify-content: center;
}

footer {
    background: var(--navy-blue);
    font-family: "Roboto", sans-serif;
    color: var(--cloud);
}